<!DOCTYPE html>
<html>
{{>head}}
<body>
    {{>nav}}
    <content>
        {{{body}}}
    </content>
    {{>footer}}
      <script src="/js/upload.js"></script>
      <script src="/js/modal.js"></script>
      <script src="/js/create-folder.js"></script>
      <script src="/js/delete-folder.js"></script>
      <script src="/js/delete-item.js"></script>
      <script src="/js/cache-state.js"></script>
</body>

</html>